body {
    background-color: #a5f7a262;
    font-family: Arial, sans-serif;
    margin: 0; /* change standard browser margin */
}

footer {
    background-color: #104901;
    color: #f8f7f7;
    padding: 15px;            /* inner padding for text */
    text-align: center;
}

/*       HEADER ELEMENTS    */
.header-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
}

/* STYLE LOGO+TEXT */
#brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.motto {
    margin: 0;
    font-size: 24px;
    font-style: italic;
    color: #7f8c8d;
    font-style: italic;
}

/* menu for mobile view*/
.menu-toggle {
    display: none;
}


/* BODY ELEMENTS */

.advantage_container {
    display: flex;       /* in row */
    gap: 15px;          /* distance between card */
    justify-content: space-around;
    background-color: #a6e2b3; /* section color */
    padding: 20px;
    border-radius: 10px;
}

/* cards */
.advantage_block {
    flex: 1;
    display: flex;      /* inner flex */
    flex-direction: row-reverse; /* image - text */
    align-items: center;
    justify-content: flex-start;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5); /* light shadow */
    width: fit-content;
}

.advantage_text {
    flex: auto;
    text-align: left;
    margin-right: 10px; /* from img to txt */
}


.advantage_text h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 0 5px 0;
    color: #333;
}

.advantage_text p {
    margin: 0;
    font-size: 0.9em;
    color: #555555;
}

.advantage_block img {
    flex: 1;                    /* 25% of witth (1/4_ */
    width: 120px;              
    height: auto;               /* proportion of img */
    flex-shrink: 0;             /* forbidden make img lower than 200 */
    object-fit: contain;        /* stable img */
}

section {
    background-color: #a6e2b3; 
    padding: 20px;             
    margin-bottom: 20px;       /* distance between sections */
    border-left: 5px solid #223f2d; /* line on the side */
    justify-content: center;   /* center */
    gap: 20px;                 /* space between cards */
}

#main_body {
    padding: 30px;        /* inner margin */
    margin: 20px auto;    /* center position */
    max-width: 1100px;    /* limit width */
    background-color: #ffffff;
    border: 1px solid #e0e0e0; /* frame */
}

/*-----FOOTER------*/
#main-footer {
    background-color: #104901;
    color: #ffffff;
    padding: 40px 0;
    margin-top: 50px;
    border-top: 4px solid #37f347;
}

.footer-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-info li {
    font-size: 14px;
    color: #e0e0e0;
}

.footer-info li span {
    font-weight: bold;         /* "Author", "Location" */
    color: #37f347;
    margin-right: 5px;
}

.copyright {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
}

/*Web breakpoints: Desktop Large: 1500, Desktop Small: 1024, Tablet Large: 768, */
/*Tablet Small: 480, Mobile Large: 375, Mobile Small: 320*/
@media (max-width: 480px) {
    .header-container {
        flex-direction: column; /* logo and text  vertical */
        text-align: center;
    }

    #logo {
        width: 100px;
        height: auto;
        border-radius: 20%;
    }

    #brand {
        flex-direction: column;
        gap: 5px;
    }    

    /* Menu button */
    .menu-toggle {
        display: block; /* Показуємо тільки на мобільних */
        cursor: pointer;
        padding: 10px;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 5px auto;
        background-color: #34495e;
        transition: 0.3s ease;
    }

    /* hide munu by default */
    .navig-list {
        display: none; 
        flex-direction: column; /* vertical */
        width: 100%;
        position: absolute; /* menu over content */
        top: 100%; /* close under header */
        left: 0;
        background-color: #f8f9fa;
        border-bottom: 2px solid #37f347;
    }

    /* class for js for click */
    .navig-list.active {
        display: flex;
    }

    nav ul li {
        width: 90%;
        text-align: center;
        padding: 5px 0;
        border-top: 1px solid #dee2e6;
    }

    .advantage_container {
        flex-direction: column; /* vertical view */
        flex-wrap: wrap;
    }

    .advantage_block {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
    }

    .advantage_block img {
        display: none;
    }

    .advantage_text {
        margin: 0;
        text-align: left;
        width: 100%;
    }

    .advantage_text h2,
    .advantage_text p {
        text-align: left;
    }

    /*change table to blocks */
    section table, 
    section thead, 
    section tbody, 
    section th, 
    section td, 
    section tr { 
        display: block; 
    }

    section tr:first-child {
        display: none;
    }

    section tr {
        border: none;
        background: #fff;
    }

    .table_01 td {
        border: none;
        position: relative;
        padding-left: 15px;
        padding-top: 0px;
    }

    .table_02 td {
        border: none;
        position: relative;
        padding-left: 15px;
        padding-top: 15px; /* place for header */
    }

    .mobile_header {
        font-weight: bold;
        padding-bottom: 0px;
    }


    /* Addition data for pseudo-headers */
    .table_02 td:nth-of-type(1):before { content: "Accurate Accounting"; font-weight: bold; color: #104901; display: block; }
    .table_02 td:nth-of-type(2):before { content: "Comprehensive Reporting"; font-weight: bold; color: #104901; display: block; }
    .table_02 td:nth-of-type(3):before { content: "Actionable Analytics"; font-weight: bold; color: #104901; display: block; }

}

@media (max-width: 1200px) {
    .header-container {
        flex-direction: row; /* logo and text  horisontal */
        align-items: center;
        gap: 10px;
    }

    #logo {
        width: 120px;
        height: auto;
        border-radius: 30%;
    }

    #brand {
        flex-direction: row;
        gap: 15px;
    }

    .advantage_container {
        display: flex;
        flex-direction: column; /* vertical view */
        gap: 20px;
        height: auto;
        padding: 15px;
        flex-wrap: wrap;
    }

    .advantage_block {
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    .advantage_block img {
        width: 80px;
        height: auto;
        margin-right: 15px;
    }

    .advantage_text {
        margin: 0;
        text-align: left;
        height: auto;
        width: 100%;
    }

    .advantage_text h2,
    .advantage_text p {
        text-align: left;
    }

}